<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/livementor.fr/?ref=br_rs"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/_livementor"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/_livementor/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/alexandredana/"><i class="fa fa-linkedin"></i></a>
  </div>
<!--   <div class="footer-copyright">
    Ce site a été fait avec <i class="fa fa-heart"></i> par Killian T.
  </div> -->
</div>
