<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" id="navbar-logo" class="navbar-wagon-brand navbar-wagon-item navbar-wagon-link">LiveMentor Toolbox</a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/" id ="navbar-item-1" class="navbar-wagon-item navbar-wagon-link">Ressources</a>
    <a href="https://www.livementor.com/manifeste?locale=fr-FR" id ="navbar-item-2" target="_blank" class="navbar-wagon-item navbar-wagon-link">Notre manifeste</a>
    <a href="https://www.livementor.com/contact" id ="navbar-item-3" target="_blank" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item-2 hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/">Ressources</a></li>
        <li><a href="https://www.livementor.com/manifeste?locale=fr-FR" target="_blank">Notre manifeste</a></li>
        <li><a href="https://www.livementor.com/contact" target="_blank">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
