<div class="container">

  <h1 class="category-name"><span class="half-fill">Administratif</span></h1>
  <p class="category-description">Vous n'êtes pas un bureaucrate. Ce n'est pas votre rôle, mais vous devez quand même
  être capable de gérer la comptabilité, les problèmes juridiques, et la fiche de paie de vos freelance et salariés. Alors on a choisi ces
  supers outils pour vous aider.</p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://remixjobs-cache.s3-eu-west-1.amazonaws.com/1600x1200_thumbnail/1479307157-4939c875b38bd8cb8fbe96c152277fcc.png" alt="" class="photo">
      <a href="https://qonto.eu/fr" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Qonto
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On aime beaucoup Qonto. C’est la banque pour les entrepreneurs et indépendants du quotidien. Moderne, simple et incroyablement efficace.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://fr.toluna.com//dpolls_images/2015/12/12/c46e6f60-9efa-4070-88c9-2b477b0b6020.jpg" alt="" class="photo">
      <a href="https://www.freddelacompta.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Fred de la Compta
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Tu n’es pas un pro de la comptabilité ? C’est normal, peu d’entre nous le sont. Fred de la Compta c’est une solution super pour t’aider avec ta compta simplement.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://d1bvdxis049wi4.cloudfront.net/assets/home_v2/twitter_card-bb187bf2653444feffa3544109a77a6b.png" alt="" class="photo">
      <a href="https://aircall.io/fr" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Aircall
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Aircall te permet d’obtenir une ligne téléphonique partout dans le monde en quelques secondes. En plus, l’interface est super !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/946661478630940673/BzlIV0Ls_400x400.jpg" alt="" class="photo">
      <a href="https://payfit.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Payfit
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Votre équipe grandit et vous devez gérer des fiches de paie ? Vous n’êtes pas expert ? Moi non plus ! PayFit est là pour ça.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://www.jaimelesstartups.fr/wp-content/uploads/2015/05/logo_md-286x300.png" alt="" class="photo">
      <a href="https://www.captaincontrat.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Captain Contrat
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Besoin des services d’un avocat sans être une structure assez grande pour payer le prix fort ? Captain Contrat s’en charge à prix réduit !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://static1.squarespace.com/static/553f9614e4b0c9767d55a869/55faeab0e4b00d6284700d7f/560c03cde4b0fbc485950a02/1443627985980/Icone_twitt-07.png?format=500w" alt="" class="photo">
      <a href="http://www.jurismatic.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Jurismatic
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              C’est The Family et le cabinet d’avocat 11.100.34 qui te proposent toute la documentation juridique standard GRATUITE ! Profite en ;-)
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
