<div class="container">

  <h1 class="category-name"><span class="half-fill">Trouver du courage</span></h1>
  <p class="category-description">Quand on se lance dans cette aventure, on se sent parfois seuls. On en est bien conscients car
  la plupart des membres de notre équipe est passée par là. Alors on a choisi ici nos sources préférées pour
  vous booster le moral quand il diminue. Accrochez-vous ! </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://cdn.shopify.com/s/files/1/1993/4511/files/LOGO.svg?5874809692339893324" alt="" class="photo">
      <a href="https://shantybiscuits.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Shanty Biscuits
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On adore l’histoire de Shanty (et ses biscuits !). Croire en son projet et en sa gourmandise, ça a du bon !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/906925162175528960/1J1sGlBC_400x400.jpg" alt="" class="photo">
      <a href="https://nouvelleecole.org/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Nouvelle Ecole
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Antonin nous régale chaque semaine de ses interviews bourrés de personnalités inspirantes. Prenez le temps d’écouter et de prendre un peu de recul.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://podtail.com/content/images/podcast/artwork/600/l/e/le-cafe-livementor.jpg" alt="" class="photo">
      <a href="https://shows.pippa.io/le-cafe-livementor" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Le Café LiveMentor
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On ne pouvait pas passer à côté ;-) Valentin fait du super boulot et reçoit des entrepreneurs aux parcours divers, mais animés par une passion commune et une humilité !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://wip.imgix.net/store/product/403/logo/ef3033311a5545b0f941f2d53eb97f8a.png?ixlib=rb-1.1.0&w=800&h=800&fit=crop&s=6856373b6828bbb5c181c992424651b2" alt="" class="photo">
      <a href="https://www.starterstory.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Starter Story
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On aime Starter Story car ce sont des histoires simples mais passionnantes d’entrepreneurs qui se sont lancés.
              Attention, vous ne trouverez pas ici le prochain Facebook !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/921378941809692672/guRdq3zD_400x400.jpg" alt="" class="photo">
      <a href="http://www.startupbegins.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            StartupBegins
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Chaque semaine une vidéo sur les coulisses de la vie d’entrepreneurs inspirants. On aime !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/636971478286598144/XMm_arWG.jpg" alt="" class="photo">
      <a href="https://thehustle.co/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            The Hustle
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Fan du monde entrepreneurial ? Voici une newsletter comme vous n’en avez jamais lu. Bien documentée et sur un ton décalé, vous vous régalerez tous les jours.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
