<div class="container">

  <h1 class="category-name"><span class="half-fill">Design</span></h1>
  <p class="category-description">Vous n'êtes pas des experts du design et c'est normal. Mais faire briller votre identité visuelle est essentiel
  pour votre réussite. Alors voici les meilleurs outils pour vous accompagner dans cette démarche.</p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="http://blog.agilepartner.net/wp-content/uploads/2015/08/canva-logo.png" alt="" class="photo">
      <a href="https://www.canva.com/fr_fr/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Canva
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Tu n’es pas expert de Photoshop ? Normal, tu te lances et tu as 1000 trucs à faire. Canva est parfait pour toi : simple et peu couteux, tu trouveras une multitudes de designs.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://cdn-images-1.medium.com/max/300/1*8RIhw2j1ooPvLiVTs34G8g.jpeg" alt="" class="photo">
      <a href="https://unsplash.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Unsplash
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              La meilleure libraire pour obtenir des photos gratuitement libre de droits. On adore !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://www.underconsideration.com/brandnew/archives/99designs_logo_icon.png" alt="" class="photo">
      <a href="https://99designs.fr/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            99 Designs
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Excellent pour mettre en compétition des designers pour réaliser ton logo ou tes visuels. Le système est original, et résultats satisfaits ou remboursés !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://www.graphicsprings.com/images/front/favicon-196x196.png?width=250&height=250&quality=80&crop=0&method=crop" alt="" class="photo">
      <a href="https://www.graphicsprings.com/fr" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Graphic Springs
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Tu n’as pas envie de payer un kopeck pour ton logo ? Réalise le en deux en trois mouvements avec Graphic Springs !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://img.over-blog-kiwi.com/1/95/85/30/20161127/ob_e26976_easel-ly-review-create-infographics.png" alt="" class="photo">
      <a href="www.easel.ly" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Easel.ly
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Réalise de superbes infographies sans difficulté pour pouvoir les publier sur tes réseaux sociaux ou dans ton prochain Business Plan !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://www.underware.nl/case-studies/_previews/myfonts.jpg" alt="" class="photo">
      <a href="http://www.myfonts.com/bestsellers/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            MyFonts
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Belle librairie de typographie pour votre site web ! Facile de s’y retrouver grâce aux classements “Best sellers” ou “Hot’
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
