<div class="container">

  <h1 class="category-name"><span class="half-fill">Se former au quotidien</span></h1>
  <p class="category-description">Tu as 1000 choses à gérer, mais pas toujours les ressources pour savoir quoi faire. Se former est très
  important pour réussir ton projet, et chez LiveMentor, croyez-nous, on en connait un rayon ;-) </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/840186953844850689/M4bjGjWq_400x400.jpg" alt="" class="photo">
      <a href="https://www.livementor.com/fr-FR" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            LiveMentor
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Forcément ;-) On adore ce qu’on fait et on est prêt à tout pour votre réussite ! (sans blague, demandez-nous n’importe quoi ?).
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://about.udemy.com/wp-content/uploads/2017/10/NewUlogo-large-1.png" alt="" class="photo">
      <a href="https://www.udemy.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Udemy
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On adore Udemy car leur contenu est de qualité et leur plateforme très instinctive. Demande-nous conseil pour trouver les bons formateurs.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://lh3.googleusercontent.com/bnkEsgqLZyVNsn44eV76uvBwSTzsRU_gDCrlflGXO6_RAAHp1vy3z2lYMlHHWLWtUCE=w300" alt="" class="photo">
      <a href="https://www.skillshare.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Skillshare
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Formats courts sous forme de petites vidéos en illimité. Pratique quand tu veux apprendre en quelques minutes quelque chose qui te manque.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
