<div class="container">

  <h1 class="category-name"><span class="half-fill">Se former au quotidien</span></h1>
  <p class="category-description">Vous avez 1000 choses à gérer, mais pas toujours les ressources pour savoir quoi faire. Se former est très
  important pour réussir votre projet, et chez LiveMentor, croyez-nous, on en connait un paquet ;-) </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
