<div class="container">

  <h1 class="category-name"><span class="half-fill">Gestion interne</span></h1>
  <p class="category-description">Qui dit petite entreprise ne dit pas forcément une seule personne ! Vous allez grandir
  et vous entourez des bons outils pour gérer votre équipe est très important. Voici ceux que l'on recommande vivement.</p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://seeklogo.com/images/S/slack-logo-DE4445077C-seeklogo.com.png" alt="" class="photo">
      <a href="https://slack.com/intl/fr-fr" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Slack
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On ne le présente plus. Slack vous permet de communiquer simplement et de manière organisée au sein de votre équipe.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://seeklogo.com/images/A/airtable-logo-216B9AF035-seeklogo.com.png" alt="" class="photo">
      <a href="https://airtable.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Airtable
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              On aime Airtable car c’est l’outil parfait pour organiser ses données. Allez, on prend même le pari qu’ils vont marcher bientôt sur les platebandes d’Excel !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://ih1.redbubble.net/image.512533846.7188/flat,800x800,075,f.jpg" alt="" class="photo">
      <a href="https://trello.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Trello
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Probablement l’outil le plus recommandé pour la gestion de projets. Interface très bien pensée. Bref, excellent pour les petites équipes !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://www.studiovitamine.com/wp-content/uploads/2016/08/logo-zapier-studio-vitamine-685x410.jpg" alt="" class="photo">
      <a href="https://zapier.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Zapier
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Zapier c’est un outil incroyable pour automatiser et gagner du temps. Connectez vos plateformes entre elles pour mieux vous organiser.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
