<div class="container">
  <div class="header">
    <h1>Les meilleurs outils selectionnés par nos <span class="half-fill">soins</span>,<br>pour nos élèves <span class="half-fill">adorés</span></h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h3>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/marketing_pic.jpg');">
        <div class="card-description">
          <h1>Marketing</h1>
        </div>
        <a class="card-link" href="/marketing" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/sales_pic.jpg');">
          <div class="card-description">
          <h1>Sales</h1>
        </div>
          <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/design_pic.jpg');">
          <div class="card-description">
          <h1>Design</h1>
        </div>
          <a class="card-link" href="#" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/website_pic.jpg');">
        <div class="card-description">
          <h1>Créer ton site</h1>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/communicate_pic.jpg');">
          <div class="card-description">
          <h1>Communiquer</h1>
        </div>
          <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/admin_pic.jpg');">
          <div class="card-description">
          <h1>Administratif</h1>
        </div>
          <a class="card-link" href="#" ></a>
      </div>
    </div>

  </div>
</div>
