<div class="container">
  <div class="header">
    <h1>Les meilleurs outils selectionnés par nos <span class="half-fill">soins</span>,<br>pour aider nos élèves <span class="half-fill">à réussir</span></h1>
    <h3>Ce qui compte pour nous, c'est votre réussite dans ce que vous voulez entreprendre. Faire grandir votre projet c'est votre passion, et la gérer au quotidien,
      ça ne doit pas être les 12 travaux d'Hercule ! <br>
      On sait à quel point il est difficile d'arriver à tout gérer quand on a une petite équipe, alors on a voulu
      vous aider à économiser du temps et de l'argent en créant cette page. <br><br>
      Vous trouverez ici les outils les mieux conçus, que nos mentors ont directement choisi pour
      <span class="half-fill-small">faciliter votre quotidien</span> et vous <span class="half-fill-small">aider à gagner du temps </span>!</h3>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/marketing_pic.jpg');">
        <div class="card-description">
          <h1>Marketing & Com</h1>
        </div>
        <a class="card-link" href="/marketing" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/sales_pic.jpg');">
          <div class="card-description">
          <h1>Gestion interne</h1>
        </div>
          <a class="card-link" href="/gestion_interne" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/design_pic.jpg');">
          <div class="card-description">
          <h1>Design</h1>
        </div>
          <a class="card-link" href="/design" ></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/website_pic.jpg');">
        <div class="card-description">
          <h1>Créer ton site</h1>
        </div>
        <a class="card-link" href="/website" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/communicate_pic.jpg');">
          <div class="card-description">
          <h1>Recruter</h1>
        </div>
          <a class="card-link" href="/recruter" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/admin_pic.jpg');">
          <div class="card-description">
          <h1>Administratif</h1>
        </div>
          <a class="card-link" href="/administrative" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/formation_pic.jpg');">
          <div class="card-description">
          <h1>Se former</h1>
        </div>
          <a class="card-link" href="/formation" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/courage_pic.jpg');">
          <div class="card-description">
          <h1>Trouver du courage</h1>
        </div>
          <a class="card-link" href="/courage" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/inspiration_pic.jpg');">
          <div class="card-description">
          <h1>Inspiration graphique</h1>
        </div>
          <a class="card-link" href="/inspiration_graphique" ></a>
      </div>
    </div>

  </div>
</div>
