<div class="container">

  <h1 class="category-name"><span class="half-fill">Marketing</span></h1>
  <p class="category-description">Le marketing et la communication sont essentiels pour développer votre projet. Vous trouverez ci-dessous les outils les mieux
  conçus pour promouvoir votre initiative et échanger avec votre communauté. </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://cdn.worldvectorlogo.com/logos/buffer.svg" alt="" class="photo">
      <a href="https://buffer.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Buffer
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Ton parfait chef d’orchestre pour planifier et organiser tes réseaux sociaux. On recommande !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://fr.mailjet.com/images/theme/v1/logos/mailjet-logo-cookie.jpg" alt="" class="photo">
      <a href="https://fr.mailjet.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Mailjet
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Lancé en 2011 par des Frenchies, c’est une super plateforme pour gérer l’envoi et le suivi de tes emails à ta communauté ! Petit + car Mailjet s’attaque à éviter la mise en spam de plus en plus fréquente.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://vignette.wikia.nocookie.net/logopedia/images/7/75/Animoto-Logo-300x300.png/revision/latest?cb=20130725233014" alt="" class="photo">
      <a href="https://animoto.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Animoto
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Excellent outil pour réaliser vos vidéos du quotidien sans avoir besoin de maîtriser Adobe Premiere et ses congénères. Simple et efficace.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://www.jaimelesstartups.fr/wp-content/uploads/2014/02/300x300xpitchy-logo-300x300.png.pagespeed.ic.vI-LejImSj.png" alt="" class="photo">
      <a href="https://www.pitchy.fr/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Pitchy
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Vous avez déjà rêvé de faire une vidéo de présentation pro facilement ? Pitchy est là pour ça !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/508979318815346690/awaGd6hb.png" alt="" class="photo">
      <a href="https://www.moo.com/fr/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Moo.com
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              De la carte de visite au flyer, l’équipe de Moo est très compétente pour te fournir les éléments dont tu as besoin. Vivement recommandé !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://cl0gh4ef8962pl26y49zpc2l-wpengine.netdna-ssl.com/wp-content/uploads/2016/10/typeform-logo-mai-vs.png" alt="" class="photo">
      <a href="https://www.typeform.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Typeform
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              La solution incontournable pour créer un questionnaire en ligne gratuitement. C’est beau et simple, foncez !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
