<div class="container">

  <h1 class="category-name"><span class="half-fill">Bien recruter</span></h1>
  <p class="category-description">Savoir bien s'entourer est l'une des clés pour réussir son projet. Que ce soient des freelances, des stagiaires
  ou le prochain champion de votre équipe, voici les meilleurs outils pour les trouver. </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="" alt="" class="photo">
      <a href="" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">

            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>

              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
