<div class="container">

  <h1 class="category-name"><span class="half-fill">Bien recruter</span></h1>
  <p class="category-description">Savoir bien s'entourer est l'une des clés pour réussir son projet. Que ce soient des freelances, des stagiaires
  ou le prochain champion de ton équipe, voici les meilleurs outils pour les trouver. </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://media.glassdoor.com/sqll/1998345/malt-squarelogo-1520005940389.png" alt="" class="photo">
      <a href="https://www.malt.fr/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Malt
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Tu cherches des supers freelance francophones ? Malt est là pour toi.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://pbs.twimg.com/profile_images/970647009605677059/vbNfdCBs_400x400.jpg" alt="" class="photo">
      <a href="https://fr.cremedelacreme.io/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            La Crème de la Crème
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Les étudiants des meilleures écoles au services des entreprises qui en ont besoin. Un projet et une équipe qui nous inspire beaucoup !
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://rmsnews.com/wp-content/uploads/2016/06/Logo-WttJ.jpg" alt="" class="photo">
      <a href="https://www.welcometothejungle.co/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Welcome to the Jungle
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Super solution qui te permet de montrer à tes futures recrues ce qui t'anime et quelles sont tes valeurs.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://lh3.googleusercontent.com/Tb3nCdQ277Q5XsBDuJuQWvS6zKBSzw0v88IErH-tZKvxz8CxmxXPV5UzQdWW8_3Hs5M=w300" alt="" class="photo">
      <a href="https://www.workable.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Workable
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Tu commences à grossir (ton projet, pas ton poids) et tu veux gérer plus facilement tes recrutements ? Workable est fait pour ça.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
