<div class="container">

  <h1 class="category-name"><span class="half-fill">Créer ton site</span></h1>
  <p class="category-description">On ne sait pas tous coder un site, et c'est très bien comme ça. Mais on veut tous réussir !
  Alors on a choisi pour vous les meilleurs outils pour vous lancer, vendre et convaincre votre communauté grâce à une
  superbe plateforme. </p>

  <div class="list">
    <h2 class="source-name"><span class="bottom">Outils</span></h2>

    <div class="item">
      <img src="https://image.flaticon.com/icons/svg/34/34314.svg" alt="" class="photo">
      <a href="https://fr.squarespace.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Squarespace
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Besoin d’un magnifique site vitrine pour faire une excellente impression ? Squarespace est LA solution incroyable facile à prendre en main.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="http://cdn.shopify.com/assets/images/logos/shopify-bag.png?1341928631" alt="" class="photo">
      <a href="https://fr.shopify.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Shopify
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Un classique qu’on adore : pour tout ceux qui veulent vendre sur internet, sans avoir jamais touché de lignes de code.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://instapage.com/wp-content/uploads/2016/10/group-2@3x.png" alt="" class="photo">
      <a href="https://instapage.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Instapage
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              L’outil idéal pour réaliser une landing page qui cartonne ! Facile à prendre en main pour ceux qui ne sont pas programmeurs dans l’âme.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://www.launchaco.com/static/twitter.png" alt="" class="photo">
      <a href="https://www.launchaco.com/name" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Launchaco
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              L’outil parfait pour trouver la disponibilité d’un nom pour votre projet. Il comprend les noms de domaines, mais aussi tous vos réseaux sociaux préférés.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqvx_1cwVlMk3lKzaA8r-uf05KuG5_hP3nSzXQaXbleM5phshe" alt="" class="photo">
      <a href="https://www.quicksprout.com/" target="_blank">
        <div class="card-tool">
          <div class="card-header">
            <h3 class="tool-name">
            Quicksprout
            </h3>
          </div>
          <div class="card-info">
            <div class="tool-description">
              <p>
              Super solution pour t’assurer que tu es à jour pour le SEO. Tout est là : vitesse, backlinks, métadescription… ça rigole pas mais c’est sérieux.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
